{#
/**
 * @file paypal.html.twig
 * Default theme implementation to present Paypal data.
 *
 * This template is used when viewing Paypal pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_paypal()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('paypal') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
